html,
body {
  height: 100%;
  background-color: rgb(237, 237, 237);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

#container {
  width: 480px;
  height: 480px;
  box-shadow: 5px 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-wrap: wrap;
}
